@import 'theme-overrides';

$backgroundColor: #0a0e12 !default;
$footerBackgroundColor: #05080a !default;

$accentColor: #7f00a6 !default;
$dividerColor: rgba(255, 255, 255, 0.05) !default;
$standardDividerBorder: 1px solid $dividerColor !default;

$contributorDiameter: 32px !default;
$contributorRadius: 16px !default;