$backgroundColor: #0a0e12;
$footerBackgroundColor: #05080a;

$accentColor: #7f00a6;
$dividerColor: rgba(255, 255, 255, 0.05);
$standardDividerBorder: 1px solid $dividerColor;

$contributorDiameter: 32px;
$contributorRadius: 16px;